<!--NAVIGATION-->

<a href="https://colab.research.google.com/github/bpesquet/machine-learning-katas/blob/master/data/Data_Analysis.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open in Google Colaboratory"></a>

# Kata: Data Analysis

Inspired by an activity in the [Open Machine Learning Course](https://mlcourse.ai/).

## Instructions

This is a self-correcting exercise generated by [nbgrader](https://github.com/jupyter/nbgrader). 

Complete the cells beginning with `# YOUR CODE HERE` and run the subsequent cells to check your code.

## Part 1 : Loading data

In [8]:
# Import required libraries
import numpy as np
import pandas as pd

### Question

Use Pandas to load the dataset located [here](https://raw.githubusercontent.com/bpesquet/machine-learning-handbook/master/datasets/athlete_events.csv), which was extracted from this [Kaggle competition](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/). Store it into a DataFrame named `df_olympics`.

In [22]:
# YOUR CODE HERE
df_olympics = pd.read_csv(
    'https://raw.githubusercontent.com/bpesquet/machine-learning-handbook/master/datasets/athlete_events.csv')

print(df_olympics)

            ID                                Name Sex   Age  Height  Weight  \
0            1                           A Dijiang   M  24.0   180.0    80.0
1            2                            A Lamusi   M  23.0   170.0    60.0
2            3                 Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4                Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5            Christine Jacoba Aaftink   F  21.0   185.0    82.0
5            5            Christine Jacoba Aaftink   F  21.0   185.0    82.0
6            5            Christine Jacoba Aaftink   F  25.0   185.0    82.0
7            5            Christine Jacoba Aaftink   F  25.0   185.0    82.0
8            5            Christine Jacoba Aaftink   F  27.0   185.0    82.0
9            5            Christine Jacoba Aaftink   F  27.0   185.0    82.0
10           6                     Per Knut Aaland   M  31.0   188.0    75.0
11           6                     Per Knut Aaland   M  31.0   188.0    75.0
12           6                     Per Knut Aaland   M  31.0   188.0    75.0
13           6                     Per Knut Aaland   M  31.0   188.0    75.0
14           6                     Per Knut Aaland   M  33.0   188.0    75.0
15           6                     Per Knut Aaland   M  33.0   188.0    75.0
16           6                     Per Knut Aaland   M  33.0   188.0    75.0
17           6                     Per Knut Aaland   M  33.0   188.0    75.0
18           7                        John Aalberg   M  31.0   183.0    72.0
19           7                        John Aalberg   M  31.0   183.0    72.0
20           7                        John Aalberg   M  31.0   183.0    72.0
21           7                        John Aalberg   M  31.0   183.0    72.0
22           7                        John Aalberg   M  33.0   183.0    72.0
23           7                        John Aalberg   M  33.0   183.0    72.0
24           7                        John Aalberg   M  33.0   183.0    72.0
25           7                        John Aalberg   M  33.0   183.0    72.0
26           8  Cornelia "Cor" Aalten (-Strannood)   F  18.0   168.0     NaN
27           8  Cornelia "Cor" Aalten (-Strannood)   F  18.0   168.0     NaN
28           9                    Antti Sami Aalto   M  26.0   186.0    96.0
29          10      Einar Ferdinand "Einari" Aalto   M  26.0     NaN     NaN
...        ...                                 ...  ..   ...     ...     ...
271086  135555                          Micha Zych   M  23.0   177.0    68.0
271087  135556          Bogusaw Stanisaw Zychowicz   M  19.0   189.0    80.0
271088  135556          Bogusaw Stanisaw Zychowicz   M  19.0   189.0    80.0
271089  135557                        Dominik ycki   M  34.0   192.0    95.0
271090  135557                        Dominik ycki   M  38.0   192.0    95.0
271091  135558                  ukasz Tomasz ygado   M  32.0   200.0    89.0
271092  135559                    Pawe Jan Zygmunt   M  21.0   182.0    79.0
271093  135559                    Pawe Jan Zygmunt   M  21.0   182.0    79.0
271094  135559                    Pawe Jan Zygmunt   M  25.0   182.0    79.0
271095  135559                    Pawe Jan Zygmunt   M  25.0   182.0    79.0
271096  135559                    Pawe Jan Zygmunt   M  29.0   182.0    79.0
271097  135559                    Pawe Jan Zygmunt   M  29.0   182.0    79.0
271098  135559                    Pawe Jan Zygmunt   M  33.0   182.0    79.0
271099  135560                   Stavroula Zygouri   F  36.0   171.0    63.0
271100  135561                       Frantiek Zyka   M  26.0     NaN     NaN
271101  135562                          Milan Zyka   M  24.0   173.0    68.0
271102  135563           Olesya Nikolayevna Zykina   F  19.0   171.0    64.0
271103  135563           Olesya Nikolayevna Zykina   F  23.0   171.0    64.0
271104  135564        Yevgeny Aleksandrovich Zykov   M  22.0   172.0    65.0
271105  135565            Fernando scar Zylberberg   M  23.0   168.0    76.0
271106  135565            Fernando scar Zylberberg   M  27.0   168.0    76.0
271107  135566          James Francis "Jim" Zylker   M  21.0   175.0    75.0
271108  135567        Aleksandr Viktorovich Zyuzin   M  24.0   183.0    72.0
271109  135567        Aleksandr Viktorovich Zyuzin   M  28.0   183.0    72.0
271110  135568              Olga Igorevna Zyuzkova   F  33.0   171.0    69.0
271111  135569                          Andrzej ya   M  29.0   179.0    89.0
271112  135570                            Piotr ya   M  27.0   176.0    59.0
271113  135570                            Piotr ya   M  27.0   176.0    59.0
271114  135571                  Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571                  Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
5          Netherlands  NED  1988 Winter  1988  Winter         Calgary
6          Netherlands  NED  1992 Winter  1992  Winter     Albertville
7          Netherlands  NED  1992 Winter  1992  Winter     Albertville
8          Netherlands  NED  1994 Winter  1994  Winter     Lillehammer
9          Netherlands  NED  1994 Winter  1994  Winter     Lillehammer
10       United States  USA  1992 Winter  1992  Winter     Albertville
11       United States  USA  1992 Winter  1992  Winter     Albertville
12       United States  USA  1992 Winter  1992  Winter     Albertville
13       United States  USA  1992 Winter  1992  Winter     Albertville
14       United States  USA  1994 Winter  1994  Winter     Lillehammer
15       United States  USA  1994 Winter  1994  Winter     Lillehammer
16       United States  USA  1994 Winter  1994  Winter     Lillehammer
17       United States  USA  1994 Winter  1994  Winter     Lillehammer
18       United States  USA  1992 Winter  1992  Winter     Albertville
19       United States  USA  1992 Winter  1992  Winter     Albertville
20       United States  USA  1992 Winter  1992  Winter     Albertville
21       United States  USA  1992 Winter  1992  Winter     Albertville
22       United States  USA  1994 Winter  1994  Winter     Lillehammer
23       United States  USA  1994 Winter  1994  Winter     Lillehammer
24       United States  USA  1994 Winter  1994  Winter     Lillehammer
25       United States  USA  1994 Winter  1994  Winter     Lillehammer
26         Netherlands  NED  1932 Summer  1932  Summer     Los Angeles
27         Netherlands  NED  1932 Summer  1932  Summer     Los Angeles
28             Finland  FIN  2002 Winter  2002  Winter  Salt Lake City
29             Finland  FIN  1952 Summer  1952  Summer        Helsinki
...                ...  ...          ...   ...     ...             ...
271086          Poland  POL  2006 Winter  2006  Winter          Torino
271087          Poland  POL  1980 Summer  1980  Summer          Moskva
271088          Poland  POL  1980 Summer  1980  Summer          Moskva
271089          Poland  POL  2008 Summer  2008  Summer         Beijing
271090          Poland  POL  2012 Summer  2012  Summer          London
271091          Poland  POL  2012 Summer  2012  Summer          London
271092          Poland  POL  1994 Winter  1994  Winter     Lillehammer
271093          Poland  POL  1994 Winter  1994  Winter     Lillehammer
271094          Poland  POL  1998 Winter  1998  Winter          Nagano
271095          Poland  POL  1998 Winter  1998  Winter          Nagano
271096          Poland  POL  2002 Winter  2002  Winter  Salt Lake City
271097          Poland  POL  2002 Winter  2002  Winter  Salt Lake City
271098          Poland  POL  2006 Winter  2006  Winter          Torino
271099          Greece  GRE  2004 Summer  2004  Summer          Athina
271100  Czechoslovakia  TCH  1928 Summer  1928  Summer       Amsterdam
271101  Czechoslovakia  TCH  1972 Summer  1972  Summer          Munich
271102          Russia  RUS  2000 Summer  2000  Summer          Sydney
271103          Russia  RUS  2004 Summer  2004  Summer          Athina
271104        Russia-1  RUS  2002 Winter  2002  Winter  Salt Lake City
271105       Argentina  ARG  2000 Summer  2000  Summer          Sydney
271106       Argentina  ARG  2004 Summer  2004  Summer          Athina
271107   United States  USA  1972 Summer  1972  Summer          Munich
271108          Russia  RUS  2000 Summer  2000  Summer          Sydney
271109          Russia  RUS  2004 Summer  2004  Summer          Athina
271110         Belarus  BLR  2016 Summer  2016  Summer  Rio de Janeiro
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                       Sport  \
0                 Basketball
1                       Judo
2                   Football
3                 Tug-Of-War
4              Speed Skating
5              Speed Skating
6              Speed Skating
7              Speed Skating
8              Speed Skating
9              Speed Skating
10      Cross Country Skiing
11      Cross Country Skiing
12      Cross Country Skiing
13      Cross Country Skiing
14      Cross Country Skiing
15      Cross Country Skiing
16      Cross Country Skiing
17      Cross Country Skiing
18      Cross Country Skiing
19      Cross Country Skiing
20      Cross Country Skiing
21      Cross Country Skiing
22      Cross Country Skiing
23      Cross Country Skiing
24      Cross Country Skiing
25      Cross Country Skiing
26                 Athletics
27                 Athletics
28                Ice Hockey
29                  Swimming
...                      ...
271086        Figure Skating
271087              Swimming
271088              Swimming
271089               Sailing
271090               Sailing
271091            Volleyball
271092         Speed Skating
271093         Speed Skating
271094         Speed Skating
271095         Speed Skating
271096         Speed Skating
271097         Speed Skating
271098         Speed Skating
271099             Wrestling
271100             Athletics
271101               Cycling
271102             Athletics
271103             Athletics
271104                  Luge
271105                Hockey
271106                Hockey
271107              Football
271108                Rowing
271109                Rowing
271110            Basketball
271111                  Luge
271112           Ski Jumping
271113           Ski Jumping
271114             Bobsleigh
271115             Bobsleigh

                                                    Event   Medal
0                             Basketball Men's Basketball     NaN
1                            Judo Men's Extra-Lightweight     NaN
2                                 Football Men's Football     NaN
3                             Tug-Of-War Men's Tug-Of-War    Gold
4                        Speed Skating Women's 500 metres     NaN
5                      Speed Skating Women's 1,000 metres     NaN
6                        Speed Skating Women's 500 metres     NaN
7                      Speed Skating Women's 1,000 metres     NaN
8                        Speed Skating Women's 500 metres     NaN
9                      Speed Skating Women's 1,000 metres     NaN
10               Cross Country Skiing Men's 10 kilometres     NaN
11               Cross Country Skiing Men's 50 kilometres     NaN
12      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
13      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
14               Cross Country Skiing Men's 10 kilometres     NaN
15               Cross Country Skiing Men's 30 kilometres     NaN
16      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
17      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
18               Cross Country Skiing Men's 10 kilometres     NaN
19               Cross Country Skiing Men's 50 kilometres     NaN
20      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
21      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
22               Cross Country Skiing Men's 10 kilometres     NaN
23               Cross Country Skiing Men's 30 kilometres     NaN
24      Cross Country Skiing Men's 10/15 kilometres Pu...     NaN
25      Cross Country Skiing Men's 4 x 10 kilometres R...     NaN
26                           Athletics Women's 100 metres     NaN
27                 Athletics Women's 4 x 100 metres Relay     NaN
28                            Ice Hockey Men's Ice Hockey     NaN
29                    Swimming Men's 400 metres Freestyle     NaN
...                                                   ...     ...
271086                   Figure Skating Mixed Ice Dancing     NaN
271087                Swimming Men's 100 metres Butterfly     NaN
271088                Swimming Men's 200 metres Butterfly     NaN
271089                  Sailing Men's Two Person Keelboat     NaN
271090                  Sailing Men's Two Person Keelboat     NaN
271091                        Volleyball Men's Volleyball     NaN
271092                   Speed Skating Men's 1,500 metres     NaN
271093                   Speed Skating Men's 5,000 metres     NaN
271094                   Speed Skating Men's 1,500 metres     NaN
271095                   Speed Skating Men's 5,000 metres     NaN
271096                   Speed Skating Men's 5,000 metres     NaN
271097                  Speed Skating Men's 10,000 metres     NaN
271098                   Speed Skating Men's 5,000 metres     NaN
271099          Wrestling Women's Middleweight, Freestyle     NaN
271100                           Athletics Men's Marathon     NaN
271101           Cycling Men's Team Pursuit, 4,000 metres     NaN
271102             Athletics Women's 4 x 400 metres Relay  Bronze
271103             Athletics Women's 4 x 400 metres Relay  Silver
271104                         Luge Mixed (Men)'s Doubles     NaN
271105                                Hockey Men's Hockey     NaN
271106                                Hockey Men's Hockey     NaN
271107                            Football Men's Football     NaN
271108             Rowing Men's Lightweight Coxless Fours     NaN
271109             Rowing Men's Lightweight Coxless Fours     NaN
271110                      Basketball Women's Basketball     NaN
271111                         Luge Mixed (Men)'s Doubles     NaN
271112           Ski Jumping Men's Large Hill, Individual     NaN
271113                 Ski Jumping Men's Large Hill, Team     NaN
271114                               Bobsleigh Men's Four     NaN
271115                               Bobsleigh Men's Four     NaN

[271116 rows x 15 columns]

In [23]:
print(f'df_olympics: {df_olympics.shape}')
assert isinstance(df_olympics, pd.DataFrame)
assert df_olympics.shape == (271116, 15)

df_olympics: (271116, 15)

## Part 2: Exploring data

### Question

Print general information about the DataFrame.

In [25]:
# YOUR CODE HERE
df_olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

### Question

Print and observe the first 10 records of the dataset.

In [30]:
# YOUR CODE HERE
df_olympics[:10]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

### Question

Print and observe 5 random records of the dataset.

In [31]:
df_olympics.sample(n = 5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
135448,68156,Lee So-Yeon,F,19.0,175.0,78.0,South Korea,KOR,2000 Summer,2000,Summer,Sydney,Judo,Judo Women's Half-Heavyweight,NaN
252736,126552,Raimonds Vilde,M,26.0,200.0,104.0,Soviet Union,URS,1988 Summer,1988,Summer,Seoul,Volleyball,Volleyball Men's Volleyball,Silver
72125,36699,Claudia Mara Franco Solana,F,17.0,170.0,56.0,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
255954,128155,"William J. ""B. J."" Wallace",M,21.0,190.0,89.0,United States,USA,1992 Summer,1992,Summer,Barcelona,Baseball,Baseball Men's Baseball,NaN
226348,113761,Albert Spencer,M,NaN,NaN,NaN,Great Britain,GBR,1924 Summer,1924,Summer,Paris,Gymnastics,Gymnastics Men's Individual All-Around,NaN